html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    color: #333;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 50px;
    width: auto;
}

.hero {
    background: linear-gradient(to right, #333, #555);
    color: #fff;
    padding: 6rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que la sección ocupe al menos el alto de la pantalla */
}

.hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Asegura que el texto dentro de .hero-content esté centrado */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #4985ff;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
}

.button:hover {
    background-color: #355a99;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
    border-top: 1px solid #444;
}
